<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->

<!--  //for each job in jobs, do a <tr></tr>-->
<!--  //within that, the identifying value needs to be in a <th></th>-->
<!--  //and then after that the value needs to be in a <td></td>-->

  <table th:each="job : ${jobs}" class="job-listing">
<!--    <tr th:each="item : ${job}">-->
<!--      <td th:text="${item}"></td>-->
<!--      <td>keep trying molly!</td>-->
<!--    </tr>-->

<!--    trying to use an example from another part of the code.......
<li th:each="item : ${category.value}">-->
<!--      <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>-->
<!--    </li>-->

    <tr>
      <td>ID</td>
      <td th:text="${job.id}"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td th:text="${job.name}"></td>
    </tr>
    <tr>
      <td>Employer</td>
      <td th:text="${job.employer}"></td>
    </tr>
    <tr>
      <td>Location</td>
      <td th:text="${job.location}"></td>
    </tr>
    <tr>
      <td>Position Type</td>
      <td th:text="${job.positionType}"></td>
    </tr>
    <tr>
      <td>Core Competency</td>
      <td th:text="${job.coreCompetency}"></td>

  <br /></table>

</div>

</body>
</html>